<br>
<h1>Rules</h1>
<br><br><br>
<p>The rules are quite simple. You create a game where you will duel someone to a dice game.<br>
First you set how much of your points you want to bet. Then you set how high the initial roll of the dice will be. Each of you will roll the dice (the author first) and the other participant will then roll a dice between 1 and the number the other guy landed on. The first to roll a 1 loses.

<i>Example : <br>
The initial roll is 40. You roll it and land on 25. Your opponent then rolls a dice of 25, and he lands on 11. You then roll a dice of 11...
</i><br>
You get the idea.
</p>